<p id="notice"><%= notice %></p>

<h1>Leaderboards</h1>

<table>
  <thead>
    <tr>
      <th>postition</th>
      <th>players</th>
      <th>starttijd</th>
      <th>stoptijd</th>
      <th>seconden</th>
    </tr>
  </thead>

  <tbody>
    <% value =0 %>
    <% @leaderboards.each do |leaderboard| %>
      <tr>
        <% value = value +1 %>
        <td><%= value %></td>
        <td><%= leaderboard.participant_name %></td>
        <td><%= leaderboard.starttijd %></td>
        <td><%= leaderboard.stoptijd %></td>
        <td><%= leaderboard.timediff %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Leaderboard', new_leaderboard_path %>
